.carousel-1 { max-width: 50%; }

.carousel-2 { max-width: 1800px; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 100%, 100%;
  border: 1px solid gray;
  border-radius: 50%;
  background-image: none;
  line-height: 38px;
}

.carousel-control-next-icon::after {
  content: ">";
  font-size: 35px;
  color: gray;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 35px;
  color: gray;
}

.carousel-inner img {
  margin: auto;
  width: 40%;
  height: auto;
}

.left { left: -150px; }

.right { right: -150px; }

.left-art { left: 1px; }

.right-art { right: 1px; }

.w-art {
  width: 300px;
  height: 250px;
  margin: 0 3px;
  padding: 0 3px;
}

.w-art > img {
  width: 120px;
  padding: 0;
}

.c-item { padding: 0 50px; }
