.text-d35266 {
    color: #D35266;
}

.bg-d35266 {
    background-color: #D35266;
}

.text-888888 {
    color: #888888;
}

.bg-888888 {
    background-color: #888888;
}

.text-383838 {
    color: #383838;
}

.bg-383838 {
    background-color: #383838;
}