.text-d35266 { color: #d35266; }

.bg-d35266 { background-color: #d35266; }

.text-888888 { color: #888; }

.bg-888888 { background-color: #888; }

.text-383838 { color: #383838; }

.bg-383838 { background-color: #383838; }
