/* Fonts */
@font-face {
    font-family: "Gotham Rounded"; 
    src: url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.eot"); 
    src: url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.woff") format("woff"), url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1549fe8fd297f1e6501a3d6ad7f77394.svg#Gotham Rounded") format("svg");
    font-weight: 400; 
}

@font-face {
    font-family: "Gotham Bold"; 
    src: url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.eot"); 
    src: url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.woff") format("woff"), url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.svg#Gotham") format("svg"); 
    font-weight: 700;
}

@font-face {font-family: "Helvetica Neue Bold"; 
    src: url("//db.onlinewebfonts.com/t/97a4695610b4a1b2de252a5f8dac77d8.eot"); 
    src: url("//db.onlinewebfonts.com/t/97a4695610b4a1b2de252a5f8dac77d8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/97a4695610b4a1b2de252a5f8dac77d8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/97a4695610b4a1b2de252a5f8dac77d8.woff") format("woff"), url("//db.onlinewebfonts.com/t/97a4695610b4a1b2de252a5f8dac77d8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/97a4695610b4a1b2de252a5f8dac77d8.svg#HelveticaNeueW31-Bold") format("svg"); 
    font-weight: 700;
}

@font-face {
    font-family: "Helvetica Neue Medium"; 
    src: url("//db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.eot"); 
    src: url("//db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.woff") format("woff"), url("//db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.svg#Helvetica Neue") format("svg"); 
    font-weight: 600;
}

@font-face {
    font-family: "Helvetica Neue Light"; 
    src: url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot"); 
    src: url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff") format("woff"), url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.svg#Helvetica Neue") format("svg");
    font-weight: 400; 
}

/* Easy-to-use classes */

.gotham-bold {
    font-family: 'Gotham Bold';
}

.gotham-rounded {
    font-family: 'Gotham Rounded';
}

.helvetica-bold {
    font-family: 'Helvetica Neue Bold';
}

.helvetica-medium {
    font-family: 'Helvetica Neue Medium';
}

.helvetica-light {
    font-family: 'Helvetica Neue Light';
}

/* Font-sizes */

.fs-twelve {
    font-size: 12px;
}

.fs-sixteen{
    font-size: 16px;
}

.fs-eighteen {
    font-size: 18px;
}

.fs-twenty {
    font-size: 20px;
}

.fs-thirty {
    font-size: 30px;
}

.fs-sixty {
    font-size: 60px;
}


/* Line Height */

.lh-8 {
    line-height: 8px;
}