.side-container {
  display: none;
  width: 600px;
  background-color: #d3526546;
}

footer::before { border-top: 1px solid black; }

.dropdown-a {
  font-size: 18px;
  font-weight: 500;
  font-family: "Helvetica-bold", sans-serif;
  text-align: end;
  border-bottom: 1px solid lightgray;
}

.search-btn {
  border-radius: 8%;
  width: 120px;
  margin-left: 100px;
  color: white;
  background-color: #383838;
}

.border-b { border-bottom: 2px solid gray; }

.result-container {
  margin-left: 80px;
  font-size: 12px;
  width: 1000px;
}

/* Media Query for Results page */

@media (min-width: 768px) {
  .side-container {
    display: flex;
    flex-direction: column;
  }
}
