.accordion-container {
    height: 1200px;
    background-color: lightgray;
}

.mid-part {
    background-color: beige;
}

.dropdown-a {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Helvetica-bold';
    text-align: end;
    border-bottom: 1px solid lightgray;
}