/* Navbar */

.nav-top { width: 100%; }

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 12px solid #d35266;
}

.logo-bottom {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 12px solid #d35266;
}

.brand-name {
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
}

.btn-ads {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

/* No Bullets */

ul > li {
  list-style-type: none;
  min-width: 80px;
}

/* Section heads */
.section-head { border-bottom: 1px solid gray; }

/* Positioning */

.m-left { margin-left: 25%; }

article {
  height: 300px;
  background-color:rgb(240, 220, 220);
  opacity: 1;
}

footer { height: 200px; }

/* Padding */

.pad-xy { padding: 3% 33%; }

.wid-sm { width: 45%; }

/* Add Image to Top */

.nav-sec::after {
  content: "";
  background-image: url(https://previews.123rf.com/images/stokkete/stokkete1506/stokkete150600088/41135048-business-people-team-social-networking-using-computers-tablets-and-smartphones-top-view-white-backgr.jpg);
  background-size: 100% 50.4%;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.17;
  z-index: 0;
}

.result-img {
  height: 215px;
  width: 280px;
}

.zi-9 {
  z-index: 9;
}

.categories {
  width: 200px;
  margin-left: -300px;
}
.categories > h4 {
  border-bottom: 1px solid black;
}

.text-justify {
  text-align: justify;
}

.info-bottom {
  margin-left: 80px;
  width: 50%;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: #888;
}

.footer {
  font-weight: bold;
}